<%= render Vitrail::LinkTo.new(:secondary, "#link_with_block") do %>
  <span>Link in block</span>
<% end %>

<%= render Vitrail::Table.new(id: "users", data: { controller: "table" }) do |table| %>
  <%= table.with_header.with_content("#") %>
  <%= table.with_header.with_content("Name") %>
  <%= table.with_header(class: "text-right").with_content("Email") %>
  <% @users.each do |user| %>
    <% table.with_row(td: { data: { table_target: "division" } }) do |row| %>
      <%= row.with_division.with_content(user.id) %>
      <%= row.with_division.with_content(user.name) %>
      <%= row.with_division(class: "text-right").with_content(user.email) %>
    <% end %>
  <% end %>
<% end %>
