<div class="<%= html_classes %>" <%= html_attributes %>>
  <% if header? %>
    <header>
      <div class="vt-card--container">
        <h3 class="vt-card--title">
          <%= title %>
        </h3>
        <i class="vt-card--icon fa-<%= icon %>" aria-hidden="true"></i>
      </div>
    </header>
  <% end %>
  <%= content %>
</div>
