<div class="<%= html_classes %>" <%= html_attributes %>>
  <% if header? %>
    <header>
      <div class="flex justify-between items-center mb-2">
        <h3 class="truncate text-sm font-medium text-slate-500">
          <%= title %>
        </h3>
        <i class="fa-light text-slate-600 ml-2 fa-<%= icon %>" aria-hidden="true"></i>
    </header>
  <% end %>
  <%= content %>
</div>
