<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>
    <script src="https://kit.fontawesome.com/7d31381032.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-gray-50 p-20">
    <%= yield %>
  </body>
</html>
