<td class="<%= html_classes %>" <%= html_attributes %>>
  <% if link_to? %>
    <%= link_to link_path, class: "vt-table--division-link-to" do %>
      <%= content || "&nbsp;".html_safe %>
    <% end %>
  <% else %>
    <%= content || "&nbsp;".html_safe %>
  <% end %>
</td>
